<h2><%= recommendation.title %></h2>

<p>Country: <%= recommendation.country%></p>
<p>City: <%= recommendation.city %></p>
<p>Content: <%= recommendation.content%></p>

<a href="/recommendations/<%= recommendation.id %>/edit">Edit</a>
