<div class="columns is-multiline is-mobile">
  <div class="columns column is-full is-multiline">
    <div class="column is-full-desktop is-full-tablet is-full-mobile">
      <h2 class="centered"><%= values[1].username %>'s Profile</h2>
    </div>
    <div class="column centered is-two-fifths-desktop is-two-fifth-tablet profilePictureContainer">
      <img class="profilePicture" src="<%= values[1].url %>">
    </div>
    <div class="columns is-multiline column is-three-fifths-desktop is-three-fifths-tablet flexColumn">
      <div class="columns column is-full hasBorder has-top-margin is-multiline">
        <div class="column is-half-desktop is-half-tablet is-half-mobile">
          <ul>
            <li class="listLabel">Age:</li>
            <li class="listLabel">Nationality:</li>
            <li class="listLabel">Currently In:</li>
          </ul>
        </div>
        <div class="column is-half-desktop is-half-tablet is-half-mobile">
          <ul>
            <li><%= values[1].age %></li>
            <li><%= values[1].nationality %></li>
            <li><%= values[1].currentlyIn %></li>
          </ul>
        </div>
        <div class="column is-full-desktop">
          <% if(values[1].id === locals.currentUser.id) { %>
            <a href="/users/<%=values[1].id %>/edit"><p class=" greyButton centered">Edit Profile</p></a>
          <%}%>
        </div>

      </div>
      <div class="columns column is-full-desktop has-top-margin hasBorder">
        <div class="column is-half autoHeight ">
            <h3 class="centered">Reviewed countries</h3>
            <div class="previewCountry">
              <%const countryArray = [];%>
              <% values[0].forEach( country =>{ %>
                <% if(country.countryCreator.toString() === values[1]._id.toString()){%>
                  <%countryArray.push(country);%>
                  <%} %>
                  <% }) %>
              <% if(countryArray[0]){%><p class="hasBorder has-top-margin centered"><%=countryArray[0].country%></p><%}%>
              <% if(countryArray[1]){%><p class="hasBorder has-top-margin centered"><%=countryArray[1].country%></p><%}%>
              <% if(countryArray[2]){%><p class="hasBorder has-top-margin centered"><%=countryArray[2].country%></p><%}%>
              <% if(countryArray[3]){%><p class="hasBorder has-top-margin centered"><%=countryArray[3].country%></p><%}%>
              <% if(countryArray[4]){%><p class="hasBorder has-top-margin centered"><%=countryArray[4].country%></p><%}%>
            </div>
            <a href="/users/<%=values[1].id %>/countries"><p class="hasBorder has-top-margin centered greyButton">View all countries</p></a>
        </div>
        <div class="column is-half autoHeight">
          <h3 class="centered">Uploaded photos</h3>
          <div class="columns is-multiline">
            <% if(countryArray[0]){%>
              <div class="column is-half has-top-margin"><img class="previewPicture" src="<%=countryArray[0].recommendation[0].url%>"></div><%}%>
            <% if(countryArray[1]){%>
              <div class="column is-half has-top-margin"><img class="previewPicture" src="<%=countryArray[1].recommendation[0].url%>"></div><%}%>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
