<div class="columns is-multiline is-mobile">
  <div class="column is-two-fifths-desktop">
    <div class="imagePlaceHolder"></div>
  </div>
  <div class="columns is-multiline column is-three-fifths-desktop">
    <div class="column is-full-desktop">
      <h2><%= user.username %>'s Profile</h2>
    </div>
    <div class="column is-half-desktop">
      <ul>
        <li>Age:</li>
        <li>Nationality:</li>
        <li>Currently In:</li>
      </ul>
    </div>
    <div class="column is-half-desktop">
      <ul>
        <li><%= user.age %></li>
        <li><%= user.nationality %></li>
        <li><%= user.currentlyIn %></li>
      </ul>
    </div>
    Second column
  </div>
  <div class="column">
    Third column
  </div>
  <div class="column">
    Fourth column
  </div>
</div>


<ul>
<% user.countries.forEach(country => { %>
  <li>
    <a href='/countries/<%= country.id %>'> <%= country.country %></a>
  </li>
<% }) %>
</ul>


<a href="/users/<%=user.id %>/edit">Edit</a>
<a href="/users/<%=user.id %>/countries">Show Countries</a>
