<h2><%= user.username %>'s Profile</h2>

<ul>
  <li>Age: <%= user.age %> </li>
  <li>Nationality: <%= user.nationality %> </li>
  <li>Currently In: <%= user.currentlyIn %> </li>
</ul>

<ul>
<% user.countries.forEach(country => { %>
  <li>
    <a href='/countries/<%= country.id %>'> <%= country.country %></a>
  </li>
<% }) %>
</ul>


<a href="/users/<%=user.id %>/edit">Edit</a>
<a href="/users/<%=user.id %>/countries">Show Countries</a>
