<h2><%= user.username %>'s' Profile</h2>

<ul>
  <li>Age: <%= user.age %> </li>
  <li>Nationality: <%= user.nationality %> </li>
  <li>Currently In: <%= user.currentlyIn %> </li>
</ul>


<%= user.countries %>
<a href="/users/<%=user.id %>/edit">Edit</a>

<a href="/countries">Show Countries</a>
