<div class="columns is-multiline is-mobile">
  <div class="columns column is-full is-multiline">
    <div class="column is-full-desktop">
      <h2 class="profileTitle"><%= values[1].username %>'s Profile</h2>
    </div>
    <div class="column is-two-fifths-desktop profilePictureContainer">
      <img class="profilePicture" src="<%= values[1].url %>">
    </div>
    <div class="columns is-multiline column is-three-fifths-desktop flexColumn">
      <div class="columns column is-full hasBorder has-top-margin is-multiline">
        <div class="column is-half-desktop">
          <ul>
            <li class="profileLabel">Age:</li>
            <li class="profileLabel">Nationality:</li>
            <li class="profileLabel">Currently In:</li>
          </ul>
        </div>
        <div class="column is-half-desktop">
          <ul>
            <li><%= values[1].age %></li>
            <li><%= values[1].nationality %></li>
            <li><%= values[1].currentlyIn %></li>
          </ul>
        </div>
        <div class="column is-full-desktop">
          <% if(values[1].id === locals.currentUser.id) { %>
            <a href="/users/<%=values[1].id %>/edit"><p class=" editButton centered">Edit Profile</p></a>
          <%}%>
        </div>

      </div>
      <div class="column is half-desktop">
        <div class="preview hasBorder">
          <a href="/users/<%=values[1].id %>/countries"><h3>Reviewed countries</h3></a>
            <% values[0].forEach( country =>{ %>
                <% if(country.countryCreator.toString() === values[1]._id.toString()){ %>
                  <div = class="column is-full indexPage">
                  <a href='/countries/<%= country._id %>' class="userIndex"> <%= country.country %></a>
                  </div>
                <%} %>
            <% }) %>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    Fourth column
  </div>
</div>
